@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Access Refusé</h1>
    <p>Vous n'etes pas autorisé a accéder a l'application.</p>
    <p>Veuillez contacter le service développement pour plus d'information.</p>
</div>
